<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true"/>
  <arg name="gui" default="true"/>
  

  <!-- start gazebo with empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="debug" default="false"/>
  </include>

  <!-- send lwa4d urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find schunk_bringup)/sdh/urdf/robot.urdf.xacro'"/>
  
  
  

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model sdh -z 0.01 " respawn="false" output="screen" />


  
</launch>
